$dark-blu: #054a91;
$dark-red: #a0001c;
$dark-gray: #d0ccd0;
$form-field: #f6f6f6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header-small {
  font-family: work_sans;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-family: "work sans";
  font-weight: 400;

  .above-nav-sec {
    display: flex;
    color: #054a91;
    justify-content: center;
    align-items: center;
    border-bottom: 0.07vw solid $dark-gray;
    font-size: 1.2vw;

    .above-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.06vw solid $dark-gray;
      padding: 1.3vw;
      height: 2vw;
      gap: 0.28vw;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 1.1vw;
      }

      input {
        outline: none;
        border: none;
      }

      input::placeholder {
        font-size: 1vw;
      }

      h5 {
        font-weight: 400;
      }
    }
  }

  .nav-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 1.7vw 8vw;
  }

  #logo {
    width: 11vw;
    height: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;

    li {
      list-style-type: none;
      font-size: 0.95vw;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        width: 1.1vw;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .call-icon {
      margin-left: auto;
      margin-right: 1vw;
    }

    .burger-bg {
      width: 6vw;
      height: 6vw;
      border-radius: 0.5vw;
    }

    .home-icon {
      display: none;
    }

    nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 60vw;
      background-color: white;
      flex-direction: column;
      font-size: 10vw;
      gap: 13vw;
      z-index: 50;
      padding: 2vw 0;
      transition: cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;

      .burger-bg {
        position: absolute;
        top: 4vw;
        right: 4vw;
        z-index: 99;
      }

      li {
        font-size: 3vw;
      }
    }
  }
}

main {
  position: relative;

  input::placeholder {
    font-size: 1vw;
  }

  textarea::placeholder {
    font-size: 1vw;
  }

  @media only screen and (max-width: 640px) {
    input::placeholder {
      font-size: 2vw;
    }

    textarea::placeholder {
      font-size: 2vw;
    }
  }

  .page-small-title {
    font-family: rubik;
    font-size: 1vw;
    font-weight: 500;
  }

  .page-title {
    font-family: rubik;
    font-size: 3vw;
    text-align: center;
    color: $dark-blu;
    font-weight: 800;
  }

  @media only screen and (max-width: 640px) {
    .page-title {
      font-size: 4.5vw;
    }
  }

  .page-para {
    font-family: "work sans";
    font-weight: 300;
    width: 56vw;
    font-size: 1.1vw;
    letter-spacing: 0.009vw;
  }

  .hero-img-sec {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 90vw;

    .hero-img,
    .hero-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .hero-img {
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: 640px) {
      .hero-img {
        width: 200vw;
        height: auto;
      }
    }

    .hero-img-overlay {
      width: 200vw;
      height: auto;
      transform: rotate(0deg);
    }
  }
  @media only screen and (max-width: 640px) {
    .hero-img-sec {
      height: 100vw;
    }

    .hero-img {
      object-position: right;
    }

    .hero-img-overlay {
      transform: rotate(90deg);
      width: 100vw;
    }

    .page-para {
      font-size: 2.8vw;
      width: 80vw;
    }
  }

  .hero-section {
    position: relative;
    padding: 5vw 7vw;
    width: 72vw;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;

    h1 {
      font-family: rubik;
      font-size: 4.4vw;
      line-height: 5vw;
    }
  }

  @media only screen and (max-width: 640px) {
    .hero-section {
      width: 100vw;

      h1 {
        font-size: 6vw;
        line-height: 7vw;
      }
    }
  }

  .form-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-sec {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 10;
      position: relative;
      padding: 2vw 3vw;
      background-color: white;
      width: 85vw;
      margin: -2vw auto;
      border-radius: 0.48vw;
      box-shadow: 0 0 0.08vw 0.01vw #979595;

      form {
        width: 100%;
        gap: 1.6vw;
        display: flex;
        flex-direction: column;
      }

      .form-row {
        display: flex;
        gap: 1.6vw;
        // background-color: #d0ccd0;

        .form-input {
          flex: 1;
          padding: 1vw;
          border: 0;
          outline: none;
          background: $form-field;
          gap: 1vw;
          border-radius: 0.2vw;
        }
      }

      textarea {
        flex: 1;
        border: 0;
        appearance: none;
        outline: none;
        background-color: #f6f6f6;
        border-radius: 0.5vw;
        padding: 1vw;
        resize: none;
      }

      .quote-submit {
        display: flex;
        justify-content: end;
        padding-right: 1vw;
        margin-top: -3vw;
      }
    }

    .blu-line {
      width: 78vw;
      height: 2.8vw;
      background-color: #054a91;
    }

    @media only screen and (max-width: 640px) {
      .form-sec {
        margin-top: 18vw;

        .form-row {
          flex-direction: column;
        }

        .quote-submit {
          justify-content: center;
        }
      }
    }
  }

  .about-sec {
    padding: 5vw 7vw;
    display: flex;
    gap: 4vw;

    img {
      width: 30vw;
      height: auto;
    }

    article {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      width: 45vw;

      h2 {
        color: $dark-red;
        margin-bottom: -1vw;
        margin-top: 1vw;
      }

      h1 {
        text-align: start;
      }

      .about-para-sec {
        display: flex;
        flex-direction: column;
        gap: 1vw;

        p {
          width: fit-content;
        }
      }
    }

    .more-sec {
      display: flex;
      gap: 4vw;
      padding: 2vw 4vw;
      background-color: #054a91;
      width: fit-content;
      color: white;
      border-radius: 0.5vw;
      position: relative;
      top: 4vw;
      left: -8vw;

      .more-left {
        width: 12vw;
        font-size: 1.2vw;
      }

      @media only screen and (max-width: 640px) {
        .more-left {
          font-size: 2.8vw;
        }
      }

      ul {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.25vw;

        li {
          font-weight: 300;
        }
      }
    }

    @media only screen and (max-width: 640px) {
      .more-sec {
        flex-direction: column;
        width: 80vw;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        left: 0;
        top: 132vw;

        .more-left {
          width: max-content;
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .more-sec {
      flex-direction: column;
      width: 80vw;
      justify-content: center;
      align-items: center;
    }

    .about-sec {
      flex-direction: column-reverse;

      img {
        width: 100vw;
        height: auto;
        margin-left: -7vw;
        margin-top: -25vw;
      }

      article {
        justify-content: center;
        align-items: center;
        width: 80vw;
      }
    }
  }

  .slides {
    .glide__slides {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .glide__slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slider-img {
      max-width: 12vw;
      object-fit: contain;
      width: auto;
      height: 4vw;

    }
  }

  @media only screen and (max-width: 640px) {
    .page-small-title {
      font-size: 4vw;
    }
  }
}

.hidden {
  opacity: 0;
}

.burger-bg {
  background-color: #a0001c;
  width: 2vw;
  height: 2vw;
  position: relative;
  border-radius: 0.2vw;

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }
}

.btn {
  background-color: $dark-red;
  padding: 0.8vw 2.4vw;
  border: 0;
  border-radius: 0.4vw;
  color: white;
  font-family: "work sans";
  width: fit-content;
  font-weight: 600;
}

@media only screen and (max-width: 640px) {
  .btn {
    padding: 1vw 2.8vw;
  }
}

#req {
  border-right: 0vw;
}

#search-container {
  border-bottom: 0.05vw solid $dark-gray;
}

.slider {
  padding: 5vw 0;
}


@media only screen and (max-width:640px) {
  .slider{
    margin-top: 20vw;



}
  
}