

$dark-blu: #054a91;
$dark-red: #a0001c;
$dark-gray: #d0ccd0;
$form-field: #f6f6f6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header-small {
  font-family: work_sans;
}



header {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-family: "work sans";
  font-weight: 400;
  .above-nav-sec {
    display: flex;
    color: #054a91;
    justify-content: center;
    align-items: center;
    border-bottom: 0.07vw solid $dark-gray;
    font-size: 1.2vw;

    .above-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.06vw solid $dark-gray;
      padding: 1.3vw;
      height: 2vw;
      gap: 0.28vw;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 1.1vw;
      }

      input {
        outline: none;
        border: none;
      }

      h5 {
        font-weight: 400;
      }
    }
  }

  .nav-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 1.7vw 8vw;
  }

  #logo {
    width: 11vw;
    height: auto;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;

    li {
      list-style-type: none;
      font-size: 0.95vw;

      a {
        text-decoration: none;
        color: black;
      }

      img {
        width: 1.1vw;
      }
    }
  }
}

main {
  position: relative;

  .page-small-title{
     font-family: rubik;
      font-size: 1vw;
      font-weight: 500;
  }

  .page-title {
    font-family: rubik;
    font-size: 3vw;
    text-align: center;
    color: $dark-blu;
    font-weight: 800;
  }

  .page-para{
         font-family: "work sans";
    font-weight: 300;
     width: 56vw; 
    font-size: 1.1vw;
    letter-spacing: .009vw;
  }

  .hero-img-sec {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 44vw;

    .hero-img,
    .hero-img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    .hero-img {
      width: 100%;
      height: auto;
    }

    .hero-img-overlay {
      width: 80vw;
      height: auto;
    }
  }

  .hero-section {
    position: relative;
    padding: 5vw 7vw;
    width: 72vw;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;

   
    h1 {
      font-family: rubik;
      font-size: 4.4vw;
      line-height: 5vw;
    }

    p {

      // font-size: 3vw;
    }

    
  }

 .form-con{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;

   .form-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    position: relative;
    padding: 2vw 3vw;
    background-color: white;
    width: 85vw;
    margin: -2vw auto;
    border-radius: 0.48vw;
    box-shadow: 0 0 0.08vw 0.01vw #979595;

    form {
      width: 100%;
      gap: 1.6vw;
      display: flex;
      flex-direction: column;
     

    }

    .form-row {
      display: flex;
      gap: 1.6vw;
      // background-color: #d0ccd0;

      .form-input {
        flex: 1;
        padding: 1vw;
        border: 0;
        outline: none;
        background: $form-field;
        gap: 1vw;
        border-radius: 0.2vw;

      }
    }

    textarea {
      flex: 1;
      border: 0;
      appearance: none;
      outline: none;
      background-color: #f6f6f6;
      border-radius: 0.5vw;
      padding: 1vw;
      resize: none;
    }

    .quote-submit {
      display: flex;
      justify-content: end;
      padding-right: 1vw;
      margin-top: -3vw;
     
    }
  }

  .blu-line{
    width: 78vw;
    height: 2.8vw;
    background-color: #054a91;
  }
 }

 .about-sec{
  padding: 5vw 7vw;
  display: flex;
  gap: 4vw;
  
  img{
    width: 30vw;
    height: auto;
  }

  article{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 45vw;
    


    h2{
      color: $dark-red;
      margin-bottom: -1vw;
    margin-top: 1vw;
    }

    h1{
      text-align: start;
    }

    .about-para-sec{
      display: flex;
      flex-direction: column;
      gap: 1vw;


      p{
        width: fit-content;
      }
    }

  }

  .more-sec{
    display: flex
;
    gap: 4vw;
    padding: 2vw 4vw;
    background-color: #054a91;
    width: fit-content;
    color: white;
    border-radius: 0.5vw;
    position: relative;
    top: 4vw;
    left: -8vw;

    .more-left{
      width: 12vw;
      font-size: 1.2vw;
    }

    ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .25vw;

    li{
      font-weight: 300;
    }
    }
  }


 }

.slides{

  .glide__slides{
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
 

 .slider-img{
  max-width: 12vw;
  object-fit: contain;
  width: auto;
  height: 4vw;
 }
}


  
}

.btn {
  background-color: $dark-red;
  padding: 0.8vw 2.4vw;
  border: 0;
  border-radius: 0.4vw;
  color: white;
  font-family: "work sans";
  width: fit-content;
  font-weight: 600;
}

#req {
  border-right: 0vw;
}

#search-container {
  border-bottom: 0.05vw solid $dark-gray;
}

.slider{
  padding: 5vw 0;
}

